<div class="post">
  <div class="title">
    <textarea readonly rows="1">Looking for pianist</textarea>
  </div>
  <div class="content">
    <textarea readonly rows="10">E</textarea>
  </div>
</div>
<div class="post2">
  <div class="title">
    <textarea readonly rows="1">Bassist looking for free jazz group</textarea>
  </div>
  <div class="content">
    <textarea readonly rows="10">Hello fellow muscians! I am a bassist looking for a jazz combo in the Pullman-Moscow area. Improvisation is a beautiful thing and good for the soul. </textarea>
  </div>
</div>
